<mat-drawer-container class="main-layout-container">
  <mat-drawer #sidenav [mode]="'push'">
    <div class="branding">
      <a class="navbar-brand" routerLink="/home">LOGO</a>
    </div>

    <mat-nav-list>
      <mat-list-item>
        <a routerLinkActive="active" class="nav-item nav-link" *ngFor="let item of menuItems" (click)="sidenav.close()"
          [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="main-layout-content">
    <header class="main-layout-header">
      <mat-toolbar>
        <button class="d-md-none" (click)="sidenav.open()">
          <i class="icon-bars"></i>
        </button>

        <nav class="d-none main-navigation">
          <a class="m"  *ngFor="let item of menuItems" [routerLink]="[item.link]" routerLinkActive="active">
            {{ item.label }}
          </a>
        </nav>

        <button type="button" [matMenuTriggerFor]="toolbarUserMenu" *ngIf="(isAuthenticated$ | async)">
          <i class="icon-user-circle-o"></i>
        </button>

        <mat-menu #toolbarUserMenu="matMenu">
          <button type="button" mat-menu-item (click)="logout()">
            <i class="icon-exit"></i>
            <span>Sign out</span>
          </button>
        </mat-menu>

        <a routerLink="/dashboard" *ngIf="(currentUserRole$ | async) === 'Owner'">
          <i class="icon-list-alt"></i>
        </a>

        <div class="mt-2 mt-md-0" *ngIf="!(isAuthenticated$ | async)">
          <button type="button" class="btn btn-outline-primary mr-2" (click)="openSignInFormDialog()">Sign in</button>
          <button type="button" class="btn btn-outline-primary" (click)="openSignUpFormDialog()">Sign up</button>
        </div>

        <span *ngIf="language$ | async as language">
          <mat-form-field>
            <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
              <mat-option *ngFor="let lng of languages" [value]="lng">
                {{ lng }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </mat-toolbar>
    </header>

    <div class="main-page-scroll-box">
      <div class="main-page-content">
        <router-outlet></router-outlet>
      </div>

      <footer class="main-layout-footer">
        <div class="col-12 signature">&#169;</div>
      </footer>
    </div>

  </mat-drawer-content>
</mat-drawer-container>