@import "../../variables.scss";

.main-layout-container {
  background: #fff;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;

  .main-layout-content {
    display: flex;

    // overflow: unset;
    flex-direction: column;

    .main-layout-header {
      box-shadow: 0px -2px 7px 0px #515151;
      border-bottom: 1px solid #e1e1e1;
      flex: 0 0 61px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

      .mat-toolbar-row, .mat-toolbar-single-row {
        height: 60px;
      }

      .mat-toolbar {
        background: #f7f7f7;
      }
    }

    .main-page-content {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      margin-top: 61px;
    }

    .main-layout-footer {
      border-top: 1px solid #e1e1e1;
      background: #f7f7f7;
      min-height: 60px;
      flex: 0 0 auto;
    }
  }
}

// @media (max-width: $toolbar-breakpoint) {

// }
