<mat-drawer-container>
  <mat-drawer #sidenav [mode]="'push'">
    <div class="branding">
      <a class="navbar-brand" routerLink="/home">LOGO</a>
    </div>

    <mat-nav-list>
      <mat-list-item>
        <a routerLinkActive="active" class="nav-item nav-link" *ngFor="let item of menuItems" (click)="sidenav.close()"
          routerLink="[item.link]" routerLinkActive="active">
          {{item.label}}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <header class="toolbar" [style.position]="'fixed'">
      <mat-toolbar color="primary">
        <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="d-none d-md-inline">
          <a class="nav-button" *ngFor="let item of menuItems" routerLink="[item.link]" routerLinkActive="active">
            {{ item.label }}
          </a>
        </span>

        <button type="button" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu" *ngIf="(isAuthenticated$ | async)">
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #toolbarUserMenu="matMenu" *ngIf="(isAuthenticated$ | async)">
          <button type="button" mat-menu-item (click)="logout()">
            <mat-icon>poweroff</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>

        <a mat-button routerLink="/dashboard" *ngIf="(currentUserRole$ | async) === 'Owner'">
          <mat-icon>dashboard</mat-icon>
        </a>

        <div class="mt-2 mt-md-0" *ngIf="!(isAuthenticated$ | async)">
          <button type="button" mat-button mat-stroked-button class="btn btn-outline-primary mr-2"
            (click)="openSignInFormDialog()">Sign in</button>
          <button type="button" mat-button mat-stroked-button class="btn btn-outline-primary"
            (click)="openSignUpFormDialog()">Sign up</button>
        </div>

        <span *ngIf="language$ | async as language">
          <mat-form-field>
            <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
              <mat-option *ngFor="let lng of languages" [value]="lng">
                {{ lng }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </mat-toolbar>
    </header>

    <router-outlet></router-outlet>

    <footer class="footer">
      <div class="row">
        <div class="col-12 signature">&#169;</div>
      </div>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>