.sign-in-form {
  width: 320px;

  .alert {
    margin-top: 5px;
  }

  .sign-in-form-footer-btns {
    width: 100%;
    margin-top: 15px;

    .btn-sign-in {
      width: 70%;
    }

    .btn-close-sign-in-form {
      width: 30%;
    }
  }
}
