@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot?eht3ak");
  src: url("/assets/fonts/icomoon.eot?eht3ak#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?eht3ak") format("truetype"), url("/assets/fonts/icomoon.woff?eht3ak") format("woff"), url("/assets/fonts/icomoon.svg?eht3ak#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}

.icon-question1:before {
  content: "\f128";
}

.icon-minus:before {
  content: "\f068";
}

.icon-heart:before {
  content: "\f004";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-check:before {
  content: "\f00c";
}

.icon-close:before {
  content: "\f00d";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-times:before {
  content: "\f00d";
}

.icon-refresh:before {
  content: "\f021";
}

.icon-list-alt:before {
  content: "\f022";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-edit:before {
  content: "\f044";
}

.icon-share-square-o:before {
  content: "\f045";
}

.icon-check-square-o:before {
  content: "\f046";
}

.icon-step-backward:before {
  content: "\f048";
}

.icon-fast-backward:before {
  content: "\f049";
}

.icon-backward:before {
  content: "\f04a";
}

.icon-play:before {
  content: "\f04b";
}

.icon-pause:before {
  content: "\f04c";
}

.icon-stop:before {
  content: "\f04d";
}

.icon-forward1:before {
  content: "\f04e";
}

.icon-fast-forward:before {
  content: "\f050";
}

.icon-step-forward:before {
  content: "\f051";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-plus-circle:before {
  content: "\f055";
}

.icon-minus-circle:before {
  content: "\f056";
}

.icon-times-circle:before {
  content: "\f057";
}

.icon-check-circle:before {
  content: "\f058";
}

.icon-question-circle:before {
  content: "\f059";
}

.icon-info-circle:before {
  content: "\f05a";
}

.icon-times-circle-o:before {
  content: "\f05c";
}

.icon-check-circle-o:before {
  content: "\f05d";
}

.icon-ban:before {
  content: "\f05e";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-bar-chart-o:before {
  content: "\f080";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-thumbs-o-up:before {
  content: "\f087";
}

.icon-thumbs-o-down:before {
  content: "\f088";
}

.icon-heart-o:before {
  content: "\f08a";
}

.icon-external-link:before {
  content: "\f08e";
}

.icon-square-o:before {
  content: "\f096";
}

.icon-credit-card:before {
  content: "\f09d";
}

.icon-hdd-o:before {
  content: "\f0a0";
}

.icon-bell-o:before {
  content: "\f0a2";
}

.icon-hand-o-right:before {
  content: "\f0a4";
}

.icon-hand-o-left:before {
  content: "\f0a5";
}

.icon-hand-o-up:before {
  content: "\f0a6";
}

.icon-hand-o-down:before {
  content: "\f0a7";
}

.icon-wrench:before {
  content: "\f0ad";
}

.icon-tasks:before {
  content: "\f0ae";
}

.icon-filter:before {
  content: "\f0b0";
}

.icon-arrows-alt:before {
  content: "\f0b2";
}

.icon-save-o:before {
  content: "\f0c7";
}

.icon-square:before {
  content: "\f0c8";
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-sort-desc:before {
  content: "\f0dd";
}

.icon-sort-asc:before {
  content: "\f0de";
}

.icon-sitemap:before {
  content: "\f0e8";
}

.icon-exchange:before {
  content: "\f0ec";
}

.icon-bell:before {
  content: "\f0f3";
}

.icon-plus-square:before {
  content: "\f0fe";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-circle-o:before {
  content: "\f10c";
}

.icon-circle:before {
  content: "\f111";
}

.icon-calendar-o:before {
  content: "\f133";
}

.icon-ellipsis-h:before {
  content: "\f141";
}

.icon-ellipsis-v:before {
  content: "\f142";
}

.icon-minus-square:before {
  content: "\f146";
}

.icon-check-square:before {
  content: "\f14a";
}

.icon-pencil-square:before {
  content: "\f14b";
}

.icon-share-square:before {
  content: "\f14d";
}

.icon-file:before {
  content: "\f15b";
}

.icon-file-text:before {
  content: "\f15c";
}

.icon-thumbs-up:before {
  content: "\f164";
}

.icon-thumbs-down:before {
  content: "\f165";
}

.icon-dot-circle-o:before {
  content: "\f192";
}

.icon-cube:before {
  content: "\f1b2";
}

.icon-file-pdf-o:before {
  content: "\f1c1";
}

.icon-file-word-o:before {
  content: "\f1c2";
}

.icon-file-excel-o:before {
  content: "\f1c3";
}

.icon-file-powerpoint-o:before {
  content: "\f1c4";
}

.icon-file-image-o:before {
  content: "\f1c5";
}

.icon-file-archive-o:before {
  content: "\f1c6";
}

.icon-file-audio-o:before {
  content: "\f1c7";
}

.icon-file-movie-o:before {
  content: "\f1c8";
}

.icon-file-code-o:before {
  content: "\f1c9";
}

.icon-sliders:before {
  content: "\f1de";
}

.icon-cc-visa:before {
  content: "\f1f0";
}

.icon-cc-mastercard:before {
  content: "\f1f1";
}

.icon-bell-slash:before {
  content: "\f1f6";
}

.icon-bell-slash-o:before {
  content: "\f1f7";
}

.icon-copyright:before {
  content: "\f1f9";
}

.icon-at:before {
  content: "\f1fa";
}

.icon-area-chart:before {
  content: "\f1fe";
}

.icon-pie-chart:before {
  content: "\f200";
}

.icon-calendar-plus-o:before {
  content: "\f271";
}

.icon-calendar-minus-o:before {
  content: "\f272";
}

.icon-calendar-times-o:before {
  content: "\f273";
}

.icon-calendar-check-o:before {
  content: "\f274";
}

.icon-shopping-basket:before {
  content: "\f291";
}

.icon-percent:before {
  content: "\f295";
}

.icon-address-book:before {
  content: "\f2b9";
}

.icon-address-book-o:before {
  content: "\f2ba";
}

.icon-address-card:before {
  content: "\f2bb";
}

.icon-vcard:before {
  content: "\f2bb";
}

.icon-address-card-o:before {
  content: "\f2bc";
}

.icon-user-circle:before {
  content: "\f2bd";
}

.icon-user-circle-o:before {
  content: "\f2be";
}

.icon-drivers-license-o:before {
  content: "\f2c3";
}

.icon-window-maximize:before {
  content: "\f2d0";
}

.icon-window-minimize:before {
  content: "\f2d1";
}

.icon-window-restore:before {
  content: "\f2d2";
}

.icon-times-rectangle:before {
  content: "\f2d3";
}

.icon-times-rectangle-o:before {
  content: "\f2d4";
}

.icon-home:before {
  content: "\e903";
}

.icon-newspaper:before {
  content: "\e904";
}

.icon-image:before {
  content: "\e90d";
}

.icon-images:before {
  content: "\e90e";
}

.icon-play-youtube:before {
  content: "\e912";
}

.icon-film:before {
  content: "\e913";
}

.icon-books:before {
  content: "\e920";
}

.icon-profile:before {
  content: "\e923";
}

.icon-file-empty:before {
  content: "\e924";
}

.icon-copy:before {
  content: "\e92c";
}

.icon-stack:before {
  content: "\e92e";
}

.icon-folder:before {
  content: "\e92f";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-folder-plus:before {
  content: "\e931";
}

.icon-folder-minus:before {
  content: "\e932";
}

.icon-folder-download:before {
  content: "\e933";
}

.icon-folder-upload:before {
  content: "\e934";
}

.icon-price-tag:before {
  content: "\e935";
}

.icon-price-tags:before {
  content: "\e936";
}

.icon-barcode:before {
  content: "\e937";
}

.icon-qrcode:before {
  content: "\e938";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-coin-dollar:before {
  content: "\e93b";
}

.icon-coin-euro:before {
  content: "\e93c";
}

.icon-coin-pound:before {
  content: "\e93d";
}

.icon-coin-yen:before {
  content: "\e93e";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-pushpin:before {
  content: "\e946";
}

.icon-location:before {
  content: "\e947";
}

.icon-location2:before {
  content: "\e948";
}

.icon-compass:before {
  content: "\e949";
}

.icon-compass-o:before {
  content: "\e94a";
}

.icon-map:before {
  content: "\e94b";
}

.icon-map-o:before {
  content: "\e94c";
}

.icon-history:before {
  content: "\e94d";
}

.icon-clock-o:before {
  content: "\e94e";
}

.icon-clock:before {
  content: "\e94f";
}

.icon-alarm:before {
  content: "\e950";
}

.icon-stopwatch:before {
  content: "\e952";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-printer:before {
  content: "\e954";
}

.icon-display:before {
  content: "\e956";
}

.icon-laptop:before {
  content: "\e957";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-mobile2:before {
  content: "\e959";
}

.icon-tablet:before {
  content: "\e95a";
}

.icon-drawer:before {
  content: "\e95c";
}

.icon-drawer2:before {
  content: "\e95d";
}

.icon-drive:before {
  content: "\e963";
}

.icon-database:before {
  content: "\e964";
}

.icon-undo:before {
  content: "\e965";
}

.icon-redo:before {
  content: "\e966";
}

.icon-undo2:before {
  content: "\e967";
}

.icon-redo2:before {
  content: "\e968";
}

.icon-forward:before {
  content: "\e969";
}

.icon-reply:before {
  content: "\e96a";
}

.icon-bubble:before {
  content: "\e96b";
}

.icon-bubbles:before {
  content: "\e96c";
}

.icon-bubbles2:before {
  content: "\e96d";
}

.icon-bubble2:before {
  content: "\e96e";
}

.icon-bubbles3:before {
  content: "\e96f";
}

.icon-bubbles4:before {
  content: "\e970";
}

.icon-user:before {
  content: "\e971";
}

.icon-users:before {
  content: "\e972";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-user-minus:before {
  content: "\e974";
}

.icon-user-check:before {
  content: "\e975";
}

.icon-user-tie:before {
  content: "\e976";
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-spinner3:before {
  content: "\e97c";
}

.icon-spinner6:before {
  content: "\e97f";
}

.icon-spinner9:before {
  content: "\e982";
}

.icon-spinner10:before {
  content: "\e983";
}

.icon-spinner11:before {
  content: "\e984";
}

.icon-search:before {
  content: "\e986";
}

.icon-zoom-in:before {
  content: "\e987";
}

.icon-zoom-out:before {
  content: "\e988";
}

.icon-enlarge:before {
  content: "\e989";
}

.icon-shrink:before {
  content: "\e98a";
}

.icon-enlarge2:before {
  content: "\e98b";
}

.icon-shrink2:before {
  content: "\e98c";
}

.icon-key:before {
  content: "\e98d";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-equalizer-h:before {
  content: "\e993";
}

.icon-cog:before {
  content: "\e994";
}

.icon-stats-dots:before {
  content: "\e99b";
}

.icon-stats-bars2:before {
  content: "\e99d";
}

.icon-gift:before {
  content: "\e99f";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-bin-o:before {
  content: "\e9ac";
}

.icon-bin:before {
  content: "\e9ad";
}

.icon-truck:before {
  content: "\e9b0";
}

.icon-switch:before {
  content: "\e9b6";
}

.icon-list-numbered:before {
  content: "\e9b9";
}

.icon-list:before {
  content: "\e9ba";
}

.icon-list2:before {
  content: "\e9bb";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-menu2:before {
  content: "\e9be";
}

.icon-menu3:before {
  content: "\e9bf";
}

.icon-menu4:before {
  content: "\e9c0";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-cloud-download:before {
  content: "\e9c2";
}

.icon-cloud-upload:before {
  content: "\e9c3";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-upload3:before {
  content: "\e9c8";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-attachment:before {
  content: "\e9cd";
}

.icon-eye:before {
  content: "\e9ce";
}

.icon-eye-blocked:before {
  content: "\e9d1";
}

.icon-bookmark:before {
  content: "\e9d2";
}

.icon-bookmarks:before {
  content: "\e9d3";
}

.icon-star-empty:before {
  content: "\e9d7";
}

.icon-star-half:before {
  content: "\e9d8";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-warning:before {
  content: "\ea07";
}

.icon-notification:before {
  content: "\ea08";
}

.icon-question:before {
  content: "\ea09";
}

.icon-info:before {
  content: "\ea0c";
}

.icon-cancel-circle:before {
  content: "\ea0d";
}

.icon-blocked:before {
  content: "\ea0e";
}

.icon-enter:before {
  content: "\ea13";
}

.icon-exit:before {
  content: "\ea14";
}

.icon-circle-up:before {
  content: "\ea41";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-circle-left:before {
  content: "\ea44";
}

.icon-move-up:before {
  content: "\ea46";
}

.icon-move-down:before {
  content: "\ea47";
}

.icon-sort-alpha-asc:before {
  content: "\ea48";
}

.icon-sort-alpha-desc:before {
  content: "\ea49";
}

.icon-sort-numeric-asc:before {
  content: "\ea4a";
}

.icon-sort-numberic-desc:before {
  content: "\ea4b";
}

.icon-sort-amount-asc:before {
  content: "\ea4c";
}

.icon-sort-amount-desc:before {
  content: "\ea4d";
}

.icon-table-o:before {
  content: "\ea71";
}

.icon-share:before {
  content: "\ea7d";
}

.icon-share-o:before {
  content: "\ea82";
}

.icon-facebook-o:before {
  content: "\ea90";
}

.icon-facebook:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-vk:before {
  content: "\ea98";
}

.icon-appleinc:before {
  content: "\eabe";
}

.icon-android:before {
  content: "\eac0";
}

.icon-skype:before {
  content: "\eac5";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-linkedin-o:before {
  content: "\eaca";
}

.icon-libreoffice:before {
  content: "\eae3";
}
