<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="'side'">
    <mat-nav-list>
      <mat-list-item>
        <a routerLinkActive="active" class="nav-item nav-link" routerLink="/dashboard/content-types-manager">Content types</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>

      <router-outlet></router-outlet>

    </div>
  </mat-drawer-content>
</mat-drawer-container>